<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
  <h3><%= link_to shelter.name, "/shelters/#{shelter.id}" %></h3>
  <%= link_to "Update Shelter", "/shelters/#{shelter.id}/edit" %>
  <%= link_to "Delete", "/shelters/#{shelter.id}", method: :delete %>
<% end %>

<%= link_to "New Shelter", "/shelters/new" %>
