<h1 class="welcome-message">Welcome to Shelters</h1>

  <div class="welcome-main-block">
    <div class="shelter-block">
      <a href="/shelters">All Shelters</a>
    </div>
    <div class="pet-block">
      <a href="/pets">All Pets</a>
    </div>
  </div>
