/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*Global Styles*/
nav, body {
  font-family: 'Roboto', sans-serif;
 }

/*Layout Styles*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 4em;
}

.nav-left-block {
  padding: 0.25em;
  max-height: 50px;
}

.logo {
  max-height: 50px;
  max-width: 50px;
}

.nav-right-block {
  padding: 1em;
}

.nav-right-pets {
  padding: 1em;
  font-size: 1.25em;
  color: red;
}

.nav-right-shelters {
  padding: 1em;
  font-size: 1.25em;
  color: red;
}

.page-header-title {
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
}

/*Welcome Styles*/
.welcome-message {
  text-align: center;
  font-size: 7em;
  color: red;
}

.welcome-main-block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

.shelter-block {
  min-width: 33%;
}

.pet-block {
  min-width: 33%;
}

/*Global Form Styling*/

.main-form-block {
  display: flex;
  justify-content: center;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 75%;
}

label {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25em;
}

input {
  width: 100%;
}

input[type=radio] {
}

input[type=text] {
  padding: 7px 7px;
  margin: 10px 5px;
  font-size: 1em;
  box-sizing: border-box;
}

.radio-toolbar {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
  display: inline-block;
  background-color: #ddd;
  padding: 10px 20px;
  margin: 1em;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px dashed black;
  border-radius: 4px;
  width: 5em;
}

.radio-toolbar label:hover {
  background-color: red;
}

.radio-toolbar input[type="radio"]:focus + label {
  border: 2px dashed red;
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color: red;
  border: 2px solid black;
}

input[type=submit] {
  background-color: red;
  font-size: 2em;
  text-transform: uppercase;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

/*Shelter Index Styles*/
.shelter-matrix {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}

.shelter-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
  margin: 1em;
  width: 15%;
  background-color: #f1f1f1;
  align-items: center;
}

.shelter-image-block {
  padding: 1em;
}

/*.shelter-data-block-{}*/
/*.shelter-data-block-name {}*/

.bottom-body-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.new-shelter-link {
  font-size: 2em;
  color: red;
}

/*Shelter Show Styles*/
.shelter-main-block {
  display: flex;
  justify-content: center;
}

.shelter-profile {
  display: flex;
}

.shelter-image-block {}

.shelter-data-block {}

.shelter-data-block-name {}

.shelter-data-block-address {}

.shelter-data-block-region {}

/*Pet Index Styles*/

.pet-matrix {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}

.pet-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
  margin: 1em;
  width: 35%;
  background-color: #f1f1f1;
}

.pet-image-block {
  padding: 1em;
}

/*.pet-data-block-{}*/
/*.pet-data-block-name {}*/
/*.pet-data-block-age {}*/
/*.pet-data-block-sex {}*/
/*.pet-data-block-shelter {}*/

/*Pet Show Styles*/
.pet-main-block {
  display: flex;
  justify-content: center;
}

.pet-profile {
  display: flex;
  width: 50%;
}
